.app{
    width: 100%;
    display: flex;
    min-height: 947px;
}
@media screen and (min-width: 2560px) {
    .app{
        min-height: 1136px;
    }
}
@media screen and (max-width: 1440px) {
    .app{
        min-height: 795px;
    }
}
@media screen and (max-width: 768px) {
        .app{
                display: flex;
                flex-direction: column;
        }
  }