.menu-social{
    
    a{
        padding:7px;
        &:hover{
            background-color: #93EDC7;
            
            border-radius: 50%;
        }
    }
   
}
.insta{
    width: 175px;
    margin-left: 20px;
    border-radius: 50%;
    transition-duration: 1.5s;
    &:hover{
        opacity: 0.6;
       
    }
}