.menu{
    width: 100%;
    background:linear-gradient( #5F2C82 20%, #49A09D 70%);
    height: 1024px;
    img{
        width: 250px;
        border-radius: 50%;
        margin: 20px auto;
    }
    .menu-links{
        display: flex;
        flex-direction: column;
        margin: 80px auto;
    }
    .menu-button{
        display: flex;
        width:65%;
        margin: 10px auto;
        padding: 15px;
        font-size: 20px;
        font-weight: 600;
        background: #93EDC7;
        border-radius:40px;
        align-items: center;
        cursor: pointer;
       
    }
    
}



.menu-hamburger{
    display: none;
}
@media screen and (max-width: 1024px) {
    .menu{
        img{
            width: 200px;
        }
        .menu-button{
            width: 90%;
        }
    }
    
  }
@media screen and (max-width: 768px) {
    .menu{
        display: none;
    }
    .menu-hamburger{
        display: flex;
    }
  }