.content{
    background-color: #D7DDE8;
    width: 75%;
    min-height: 795px;
}
@media screen and (min-width: 2560px) {
    .content{
        min-height: 1440px;
    }
  }
  @media screen and (max-width: 768px) {
    .content{
      width: 100%;
      
    }
   }
