.my-project {
    padding-top: 50px;
    .my-project-title {
        text-align: center;
  }
  .my-project-row {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    
   
    .project-link{
      margin-top: 5px;
      border: 1px solid #93edc7;
      padding: 20px;
      text-align: center;
      text-decoration: none;
      transition: 1.5s;
      color:#13285E;
      background-color: #93edc7;
      border-radius: 20px;
      font-size: 20px;
      font-weight: 600;
      
      &:hover{
        background: #13285E;
        color:#93edc7 ;
      }
    }
    .my-project-card {
      width: 30%;
      border-radius: 20px;
      padding: 20px;
      margin: 10px;
      .my-project-card-title{
          text-align: center;
          color: black;
      }
      .my-project-card-image{
        border-radius: 5px;
        transition: 2s;
        &:hover{
          opacity: 0.6;
         
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
    .my-project {
      .my-project-row {
        flex-direction: column;
        .my-project-card {
          width: 80%;
        }
      }
    }
  }
