.my-project {
    padding-top: 50px;
    .my-project-title {
        text-align: center;
  }
  .my-project-row {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    .my-project-card {
      width: 30%;
      border-radius: 20px;
      padding: 20px;
      margin: 10px;
    }
  }
}
@media screen and (max-width: 425px) {
    .my-project {
      .my-project-row {
        flex-direction: column;
        .my-project-card {
          width: 80%;
        }
      }
    }
  }
